biopython==1.70
cython==0.28.1
fastcluster==1.1.24
goatools==0.8.2
hide_code==0.5.0
jupyter==1.0.0
jupyter_contrib_nbextensions==0.4.0
matplotlib==2.2.2
matplotlib-venn==0.11.5
mygene==3.0.0
numpy==1.14.2
pandas==0.22.0
requests==2.18.4
rpy2==2.9.2
scikits.bootstrap==1.0.0
scikit-learn==0.19.1
scipy==1.0.0
git+https://github.com/mwaskom/seaborn.git@9eaaa535b3648bbfced5ad78f81e1efc0d02167c#egg=seaborn
statsmodels==0.8.0
tables==3.4.2
tqdm==4.19.9
xlrd==1.1.0
XlsxWriter==1.0.2
